.idea
.settings
.scannerwork
target/*
output/*
src/test/resources/drivers
src/test/resources/downloads
src/test/java/runner/parallel
.classpath
.project
*.iml
*.obj
*.pdb
*.user
*.aps
#*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll 
*.lib
*.sbr